@use "sass/vendors/bootstrap.scss";

@use "sass/abstracts/mixins" as *;
@use "sass/abstracts/variables" as *;
@use "sass/abstracts/helpers";

@use "sass/abstracts" as *;

@use "sass/base/base";
@use "sass/base/typography";

@use "sass/components/buttons";

@use "sass/layout/footer";
@use "sass/layout/sections";

@use "sass/sections/about";
@use "sass/sections/contact";
@use "sass/sections/hero";
@use "sass/sections/projects";
@use "sass/sections/experience";
